{% extends "layout.html" %}

{% block title %}game news {% endblock %}

{% block content %}

<div class="news-container">
    <div class="news-header-flex">
        <div>
            <h1 class="page-title">news rn</h1>
            <a href="{{ url_for('addnews') }}" class="btn-secondary add-btn">
                + add news
            </a>
        </div>

        <div class="news-feed">
            {% for news in all_news %}
                <article class="news-post panel-box">
                    <h2 class="news-title">{{ news.title }}</h2>
                    <div class="news-meta">
                        <span class="news-date">
                            {{ news.date_posted.strftime('%d.%m.%Y %H:%M') }}
                        </span>
                    </div>
                    <p class="news-excerpt">{{ news.class | truncate(200) }}</p>
                    <a class="read-more-link" href="" target="_blank" rel="noopener noreferrer">read in full</a>
                    
                    {% if news.autor_id == current_user.id %}
                    <div class="news-action">
                        <form action="{{ url_for('delete_news', news_id=news.id) }}" methods="post">
                            <button type="submit" class="btn-danger" onclick="return confirm(' r u sure?')">
                                delete
                            </button>
                        </form>
                    </div>
                    {% endif %}
                    
                </article>
            {% else %}
                <p class="no-new-message">currently theres no news</p>  
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}