{% extends "layout.html" %}

{% block title %} register {% endblock %}

{% block content %}
<div class="auth-container panel-box">
    <h1 class="auth-title">create profile</h1>
    <form action="{{ url_for('register') }}" method="post" class="auth-form">
        <div class="form-group">
            <label class="form-label" for="username">nickname</label>
            <input class="form-input" 
                type="text" 
                id="username" 
                name="username" 
                placeholder="enter nickname"
                required>
        </div>
        <div class="form-group">
            <label class="form-label" for="email">email</label>
            <input class="form-input" 
                type="email" 
                id="email" 
                name="email" 
                placeholder="enter email"
                required>
        </div>
        <div class="form-group">
            <label class="form-label" for="password">password</label>
            <input class="form-input" 
                type="password" 
                id="password"
                name="password" 
                placeholder="enter password"
                required>
        </div>

        <button type="submit" class="btn-primary submit-btn">
            register
        </button>
    </form>
</div>
{% endblock %}