{% extends "layout.html" %}

{% block title %} register {% endblock %}

{% block content %}
<div class="auth-container panel-box">
    <h1 class="auth-title">create profile</h1>
    <form action="{{ url_for('register') }}" method="post" class="auth-form">
        <div class="form-group">
            <label for="username" class="form-label">username</label>
            <input type="text" class="form-input" id="username" name="username" placeholder="enter your username" required>
        </div>
        <div class="form-group">
            <label for="email" class="form-label">email</label>
            <input type="text" class="form-input" id="email" name="email" placeholder="enter your email" required>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">password</label>
            <input type="text" class="form-input" id="password" name="password" placeholder="enter your password" required>
        </div>

        <button type="submit" class="btn-primary submit-btn">register</button>
    </form>
</div>
{% endblock %}